@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-white text-slate-900 antialiased;
}

a {
  @apply text-inherit;
}

